body,
html {
    border: 0 none;
    cursor: default;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box
}

$hover:#1f95ef;
$topHeaderLink:( "normal":#a8a8a8, "hover":$hover);
$bottomHeaderLink:( "normal":#1c1c1c, "hover":$hover);
@import "jquery.mCustomScrollbar.min";
@import "owl.carousel";
@import "owl.theme";
@import "owl.transitions";
@import "select-theme-dark";
@import "base";
@import "scroll-style";
@import "font-open-sans";
@import "media-query";
.indent {
    display: block;
    font-size: 0;
    text-decoration: none;
    text-indent: -999999px;
    text-align: left
}

//====== MIXINS =======//
@mixin hHack($height) {
    min-height: $height;
    height: auto!important;
    height: $height;
}

@mixin transition($dur, $ease) {
    transition: all $dur $ease;
    -webkit-transition: all $dur $ease;
    -moz-transition: all $dur $ease;
    -o-transition: all $dur $ease;
    -ms-transition: all $dur $ease;
}

@mixin borderRadius($corner) {
    border-radius: $corner;
    -o-border-radius: $corner;
    -khtml-border-radius: $corner;
    -moz-border-radius: $corner;
    -webkit-border-radius: $corner;
    -ms-border-radius: $corner;
}

@mixin opacity($alpha) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$alpha*100+")";
    filter: alpha(opacity=$alpha*100);
    -moz-opacity: $alpha;
    opacity: $alpha
}

@mixin backgroundSize($w, $h) {
    -webkit-background-size: $w $h;
    -moz-background-size: $w $h;
    -o-background-size: $w $h;
    -ms-background-size: $w $h;
    background-size: $w $h
}

@mixin scale($rank) {
    -moz-transform: scale($rank);
    -o-transform: scale($rank);
    -webkit-transform: scale($rank);
    transform: scale($rank);
    -ms-transform: scale($rank);
}

//====== MIXINS =======//
//~~~~~EXTEND ~~~~~//
%transition {
    transition: all 0.3s, ease-in-out;
    -webkit-transition: all 0.3s, ease-in-out;
    -moz-transition: all 0.3s, ease-in-out;
    -o-transition: all 0.3s, ease-in-out;
    -ms-transition: all 0.3s, ease-in-out;
}

%bold {
    font-family: ProximaNova-Bold, sans-serif
}

%regular {
    font-family: ProximaNova-Regular, sans-serif
}

%semibold {
    font-family: ProximaNova-Semibold, sans-serif
}

%listReset {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0
}

%ac {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    text-decoration: none;
    text-indent: -999999px;
    visibility: hidden;
    text-align: left;
    border: 0;
    width: 100%;
}

%cb {
    clear: both;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    &:after {
        @extend %ac;
    }
}

%gWidth {
    max-width: 1330px;
    min-width: 900px;
    margin: 0 auto;
    @include hHack(10px);
    clear: both;
    &:after {
        @extend %ac
    }
}

%relat {
    position: relative;
    top: 0;
    left: 0
}

%unlockElementStyle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -icab-appearance: none;
    -khtml-appearance: none;
    -ms-appearance: none;
    -o-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio:0) {}

//~~~~~/EXTEND ~~~~~//
//$bgColor:#f8f7ee;
$bgColor:green;
$bodyTopDecorationLayer:#00aeee;
$bodyTopDecorationLayerHeight:285px;
$carcassWidth:1140px;
$mainPlatformBg:#ffffff;
$opacityLayerBg:rgba(255, 255, 255, 0.37);
html,
body,
.wrapper {
    background: $bgColor;
    min-height: 100%;
}

.body-top-decoration-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $bodyTopDecorationLayerHeight;
    background: $bodyTopDecorationLayer;
}

.main-fix-carcass {
    margin: 0 auto;
    max-width: $carcassWidth;
    min-height: 100%;
    height: auto!important;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    background: $mainPlatformBg;
}

.main-fix-carcass-out-pad {
    height: 100%;
    padding: 0 40px;
}

.opacity-layer {
    display: block;
    width: 1170px;
    height: -ms-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: -icab-calc(100% - 60px);
    height: -khtml-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: calc(100% - 60px);
    background: $opacityLayerBg;
    position: fixed;
    top: 30px;
    left: 50%;
    z-index: 2;
    margin-left: -585px;
    @include borderRadius(6px);
    @media only screen and (max-width: 1270px) {
/*        left: 0;
        margin-left: 0;
    width: 90%;*/
    }
}
