$bgColor:#f8f7ee;
$bodyTopDecorationLayer:#00aeee;
$bodyTopDecorationLayerHeight:285px;
$carcassWidth:1140px;
$carcassMinWidth:200px;
$mainPlatformBg:#ffffff;
$opacityLayerBg:rgba(255, 255, 255, 0.37);
$mainPadding:0 40px;
$mainPaddingResize:0 20px;
$mainPaddingLastResize:0 10px;
$mainInnerPadding:0 80px;
$mainInnerPaddingResize:0 20px;
$mainInnerPaddingLastResize:0 3px;
$footerHeight:184px;
$hover:#1f95ef;
$footerTopLine:#dee1dd;
$linkHover:#ee9206;
$linkNormal:#777;
$copyRightTextColor:#444;
$footerMenuLinkHover:#fab149;
$footerIconsColor:#fff;
$facebookColor:#355e9f;
$facebookColorHover:#194181;
$twitterColor:#29a9e0;
$twitterColorHover:#058bc5;
$googleColor:#db5341;
$googleColorHover:#cb230d;
$youtubeColor:#ed3336;
$youtubeColorHover:#a00a0c;
$footerIconsFontSize:20px;
$langLinkColor:#000;
$langFontSize:10px;
$langLinkColorHover:#ed397f;
$langSpacerColor:#dee1dd;
$mainTitleColor:#656565;
$mainTitleFontSize:22px;
$lineColor:#dee1dd;
$lineColorFillType1:#fab149;
$tabTextColor:#6d6d6d;
$tabTextFontSize:14px;
$tabBg:#e5e5e6;
$tabBgCurrent:#fafcfd;
$tabBorderCurrent:#ebebeb;
$tabContentHeight:325px;
$stepWidth:160px;
$captchaWidth:150px;
$accountListLeftWidth:189px;
$topHeaderLink:( "normal":#a8a8a8, "hover":$hover);
$bottomHeaderLink:( "normal":#1c1c1c, "hover":$hover);
//@import "jquery.mCustomScrollbar.min";
// @import "owl.carousel";
// @import "owl.theme";
// @import "owl.transitions";
// @import "select-theme-dark";
@import "base";
@import "scroll-style";
@import "font-webly";
@import "font-icons";
@import "media-query";
//====== MIXINS =======//
@mixin hHack($height) {
    min-height: $height;
    height: auto!important;
    height: $height;
}

@mixin transition($dur, $ease) {
    -webkit-transition: all $dur $ease;
    -icab-transition: all $dur $ease;
    -khtml-transition: all $dur $ease;
    -moz-transition: all $dur $ease;
    -o-transition: all $dur $ease;
    -ms-transition: all $dur $ease;
    transition: all $dur $ease;
}

@mixin borderRadius($corner) {
    -o-border-radius: $corner;
    -khtml-border-radius: $corner;
    -icab-border-radius: $corner;
    -moz-border-radius: $corner;
    -webkit-border-radius: $corner;
    -ms-border-radius: $corner;
    border-radius: $corner;
}

@mixin opacity($alpha) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$alpha*100+")";
    filter: alpha(opacity=$alpha*100);
    -moz-opacity: $alpha;
    opacity: $alpha
}

@mixin backgroundSize($w, $h) {
    -webkit-background-size: $w $h;
    -icab-background-size: $w $h;
    -khtml-background-size: $w $h;
    -moz-background-size: $w $h;
    -o-background-size: $w $h;
    -ms-background-size: $w $h;
    background-size: $w $h
}

@mixin scale($rank) {
    -moz-transform: scale($rank);
    -o-transform: scale($rank);
    -webkit-transform: scale($rank);
    -ms-transform: scale($rank);
    -khtml-transform: scale($rank);
    -icab-transform: scale($rank);
    transform: scale($rank);
}

//====== MIXINS =======//
//~~~~~EXTEND ~~~~~//
%greenBtnAction {
    &:active {
        border-bottom: solid #6b9b31 0px;
        top: 4px;
        -webkit-box-shadow: inset 0px 2px 47px 7px rgba(107, 155, 49, 1);
        -moz-box-shadow: inset 0px 2px 47px 7px rgba(107, 155, 49, 1);
        box-shadow: inset 0px 2px 47px 7px rgba(107, 155, 49, 1);
    }
    background: #8ec649;
    text-shadow: 1px 1px #6b9b31;
    border-bottom: solid #6b9b31 2px;
    &:hover {
        background: #a6e15e;
    }
}

%orangeBtnAction {
    &:active {
        border-bottom: solid #ee9206 0px;
        top: 4px;
        -webkit-box-shadow: inset 0px 2px 47px 7px rgba(214, 100, 0, 1);
        -moz-box-shadow: inset 0px 2px 47px 7px rgba(214, 100, 0, 1);
        box-shadow: inset 0px 2px 47px 7px rgba(214, 100, 0, 1);
    }
    background: #fab149;
    text-shadow: 1px 1px #ee9206;
    border-bottom: solid #ee9206 2px;
    &:hover {
        background: #ffc169;
    }
}

%center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -icab-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

%transitionExt {
    -webkit-transition: all 0.3s, ease-in-out;
    -icab-transition: all 0.3s, ease-in-out;
    -khtml-transition: all 0.3s, ease-in-out;
    -moz-transition: all 0.3s, ease-in-out;
    -o-transition: all 0.3s, ease-in-out;
    -ms-transition: all 0.3s, ease-in-out;
    transition: all 0.3s, ease-in-out;
}

%transitionExt2 {
    -webkit-transition: all 0.2s, ease-in-out;
    -icab-transition: all 0.2s, ease-in-out;
    -khtml-transition: all 0.2s, ease-in-out;
    -moz-transition: all 0.2s, ease-in-out;
    -o-transition: all 0.2s, ease-in-out;
    -ms-transition: all 0.2s, ease-in-out;
    transition: all 0.2s, ease-in-out;
}

%light-regular {
    font-family: "WeblySleek UI Light Regular", sans-serif
}

%light-italic {
    font-family: "WeblySleek UI Light Italic", sans-serif
}

%semibold-regular {
    font-family: "WeblySleek UI Semibold Regular", sans-serif
}

%semibold-italic {
    font-family: "WeblySleek UI Semibold Italic", sans-serif
}

%semilight {
    font-family: "WeblySleek UI Semilight", sans-serif
}

%semilight-italic {
    font-family: "WeblySleek UI Semilight Italic", sans-serif
}

%listReset {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0
}

%ac {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    text-decoration: none;
    text-indent: -999999px;
    visibility: hidden;
    text-align: left;
    border: 0;
    width: 100%;
}

%gWidth {
    max-width: $carcassWidth;
    min-width: $carcassMinWidth;
    margin: 0 auto;
    clear: both;
    display: block;
    &:after {
        @extend %ac
    }
}

%cb {
    clear: both;
    display: block;
    @extend %relat;
    &:after {
        @extend %ac;
    }
}

%relat {
    position: relative;
    top: 0;
    left: 0
}

%unlockElementStyle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -icab-appearance: none;
    -khtml-appearance: none;
    -ms-appearance: none;
    -o-appearance: none
}

//~~~~~/EXTEND ~~~~~//
body,
html {
    border: 0 none;
    cursor: default;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: $bgColor;
}

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -icab-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer
}

::-moz-selection {
    background: #00aeee;
    color: #fff
}

::selection {
    background: #00aeee;
    color: #fff
}

.indent {
    display: block;
    font-size: 0;
    text-decoration: none;
    text-indent: -999999px;
    text-align: left;
}

.body-top-decoration-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $bodyTopDecorationLayerHeight;
    background: $bodyTopDecorationLayer;
}

.main-fix-carcass {
    margin: 0 auto;
    max-width: $carcassWidth;
    z-index: 10;
    background: $mainPlatformBg;
    @include hHack(100%);
    @extend %relat;
    &-out-pad {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: $mainPadding;
        @extend %transitionExt;
    }
    &:after,
    &:before {
        content: "";
        display: block;
        width: 17px;
        position: absolute;
        top: 30px;
        background: $opacityLayerBg;
        height: -ms-calc(100% - 60px);
        height: -moz-calc(100% - 60px);
        height: -icab-calc(100% - 60px);
        height: -khtml-calc(100% - 60px);
        height: -webkit-calc(100% - 60px);
        height: -o-calc(100% - 60px);
        height: calc(100% - 60px);
    }
    &:after {
        left: -17px;
        @include borderRadius(6px 0 0 6px);
    }
    &:before {
        right: -17px;
        @include borderRadius(0 6px 6px 0);
    }
    &-trafaret {
        /*        background: url(../../img/trafarets/5.png) no-repeat center top;*/
        &,
        &-opacity {
            width: 100%;
            @include hHack(1021px);
        }
        &-opacity {
            /*            @include opacity(0.5);*/
        }
    }
}

.footer-fix {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    &,
    &-inner {
        width: 100%;
        overflow: hidden;
        @extend %transitionExt;
    }
    &-inner {
        @include hHack($footerHeight);
    }
    &-pad {
        padding: $mainInnerPadding;
        @extend %transitionExt;
    }
}

.footer-bottom-spacer {
    @extend %cb;
    height: $footerHeight;
}

.tab-footer-spacer {
    @include hHack(141px);
}

.footer-top-line {
    height: 3px;
    width: 100%;
    background: $footerTopLine;
    margin: 0 auto;
}

.footer-triple-cell {
    @extend %cb;
    &,
    &-center,
    &-left,
    &-right {
        @extend %transitionExt;
        @include hHack(98px);
        @extend %relat;
    }
    &-center {
        width: 100%;
        float: left;
        z-index: 1;
        &-pad {
            @extend %cb;
            padding: 32px 268px 0 268px;
            text-align: center;
        }
    }
    &-left {
        width: 268px;
        float: left;
        margin-left: -100%;
        z-index: 10;
        &-pad {
            &:after {
                @extend %ac;
            }
        }
    }
    &-right {
        width: 268px;
        z-index: 10;
        float: left;
        margin-right: -100%;
        margin-left: -268px;
        &-pad {
            text-align: right;
            padding-top: 31px;
            padding-bottom: 16.5px;
            &:after {
                @extend %ac;
            }
        }
    }
}

.footer-nav {
    &,
    .footer-menu-list {
        @extend %cb;
    }
    left:5px
}

.footer-menu-list-item.current a {
    color: $footerMenuLinkHover;
    &:after {
        width: 100%;
    }
}

.footer-menu-list {
    &,
    &-item {
        display: inline-block;
    }
    &-item {
        &:after {
            display: block;
            content: "";
            width: 1px;
            height: 15px;
            background: $linkNormal;
            position: absolute;
            top: 10px;
            right: -1px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        padding: 11px 11px 11px 15px;
        @extend %relat;
        &-link {
            @extend %relat;
            display: inline-block;
            text-decoration: none;
            font-size: 13px;
            @extend %semibold-regular;
            @extend %transitionExt;
            color: $linkNormal;
            &:hover {
                color: $linkHover;
            }
            &:after {
                @extend %transitionExt;
                display: block;
                content: "";
                width: 0;
                height: 3px;
                background: $footerMenuLinkHover;
                position: absolute;
                bottom: -10px;
                left: 0;
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
}

.copy-right-cell {
    &,
    &-pad,
    &-txt {
        @extend %cb;
        @extend %transitionExt;
        text-align: center;
    }
    &-pad {
        padding-bottom: 30px
    }
    &-txt {
        color: $copyRightTextColor;
        font-size: 12px;
        @extend %semilight;
        line-height: 16px;
        @extend %relat;
        top: -7px;
    }
}

.footer-logo {
    & {
        position: relative;
        left: 0;
        top: 28px;
    }
    &,
    &-footer-logo-img,
    &-svg-cell {
        display: block;
        width: 98px;
        height: 93px
    }
}

.social-icon-list {
    &,
    &-item {
        list-style: none;
        font-size: 0;
        display: inline-block
    }
    &-item {
        &-pad {
            padding-left: 14.6px;
            padding-bottom: 14.6px;
        }
        &-link {
            text-decoration: none;
            display: block;
            width: 42px;
            height: 42px;
            @include borderRadius(6px);
            @extend %relat;
            &,
            & span {
                @extend %transitionExt;
            }
            &:hover span {
                -moz-transform: scale(1.3) translate(-35%, -35%);
                -o-transform: scale(1.3) translate(-35%, -35%);
                -icab-transform: scale(1.3) translate(-35%, -35%);
                -khtml-transform: scale(1.3) translate(-35%, -35%);
                -ms-transform: scale(1.3) translate(-35%, -35%);
                -webkit-transform: scale(1.3) translate(-35%, -35%);
                transform: scale(1.3) translate(-35%, -35%);
            }
        }
    }
}

.facebook-icon-cell {
    background: $facebookColor;
    &:hover {
        background: $facebookColorHover;
    }
}

.twitter-icon-cell {
    background: $twitterColor;
    &:hover {
        background: $twitterColorHover;
    }
}

.googleplus-icon-cell {
    background: $googleColor;
    &:hover {
        background: $googleColorHover;
    }
}

.youtube-icon-cell {
    background: $youtubeColor;
    &:hover {
        background: $youtubeColorHover;
    }
}

%center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -icab-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fsx1 {
    font-size: $footerIconsFontSize;
    color: $footerIconsColor;
    @extend %center;
}

.header-fix {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    &,
    &-left,
    &-right,
    &-center {
        @include hHack(200px);
        @extend %relat;
    }
    & {
        @extend %cb;
    }
    &-center {
        width: 100%;
        // background: green;
        float: left;
        margin-right: -100%;
        margin-left: -350px;
        &-pad {
            @extend %cb;
            padding: 149px 350px 0;
        }
    }
    &-left {
        width: 350px;
        float: left;
        z-index: 10;
        &-pad {
            @extend %cb;
            padding-top: 27px;
            padding-left: 50px;
        }
    }
    &-right {
        width: 350px;
        float: right;
        z-index: 11;
        &-pad {
            @extend %cb;
            padding-top: 65px;
            text-align: right
        }
    }
}

.main-nav {
    display: block;
    text-align: center;
    &,
    &-menu-list {
        @extend %cb;
        &-item {
            padding: 0 7px;
            &-link {
                font-size: 14px;
                color: $linkNormal;
                text-decoration: none;
                @extend %semilight;
                @extend %relat;
                @extend %transitionExt;
                padding: 6px 6px 9px 6px;
                &:after {
                    @extend %transitionExt;
                    display: block;
                    content: "";
                    width: 0;
                    height: 3px;
                    background: #00aeee;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
                &:hover {
                    color: #00aeee
                }
                &:hover:after {
                    width: 100%;
                }
            }
            &,
            &-link {
                display: inline-block;
            }
        }
    }
}

.main-nav-menu-list-item.current a {
    color: #00aeee;
    &:after {
        width: 100%
    }
}

.header-logo-img,
.header-logo,
.header-logo-svg-cell {
    display: block;
    width: 161px;
    height: 153px
}

.lang-cell {
    &-out-pad {
        padding: 7px 72px 0 0
    }
    &-out-pad,
    &,
    &-list {
        @extend %cb;
    }
    &-list {
        &,
        &-item {
            font-size: 0;
            list-style: none;
            display: inline-block
        }
        &-item {
            padding: 0 8px;
            &.current a {
                color: $langLinkColorHover;
            }
        }
        &-item:last-child a:after {
            display: none
        }
        &-item-link {
            text-decoration: none;
            font-size: $langFontSize;
            text-transform: uppercase;
            @extend %semilight;
            @extend %transitionExt;
            color: $langLinkColor;
            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            &:hover {
                color: $langLinkColorHover;
            }
            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 8px;
                position: absolute;
                top: 0;
                right: -8px;
                background: $langSpacerColor
            }
        }
    }
}

.login-cell {
    &,
    &-out-pad,
    &-list {
        @extend %cb;
    }
    &-out-pad {
        padding-top: 20px;
        padding-bottom: 18px;
        padding-right: 55px;
        text-align: right;
    }
    &-list,
    &-list-item {
        font-size: 0;
        list-style: none;
        display: inline-block;
        @extend %relat;
    }
    &-list-item {
        &-pad {
            padding: 0 5px;
            @extend %relat;
            z-index: 10;
        }
    }
    .w135 {
        width: 135px;
        margin: 0 auto
    }
    .registration-btn {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #fab149;
        @extend %semibold-regular;
        @extend %transitionExt;
        @extend %relat;
        top: 3px;
        border: solid #fab149 2px;
        padding: 9px 13px 11px 13px;
        @include borderRadius(6px);
        &:hover {
            color: #fff;
            background: #fab149
        }
    }
    .enter-btn {
        display: inline-block;
        text-decoration: none;
        color: #6b6b6b;
        font-size: 16px;
        @extend %semilight;
        @extend %relat;
        @extend %transitionExt;
        width: 135px;
        &-txt {
            display: inline-block;
            padding: 15px 20px 20px 20px;
            // background:#ff0000
        }
        .avatar-place {
            z-index: 10;
            display: block;
            width: 38px;
            height: 38px;
            background: #f6f6f6;
            border: solid #e2e0dc 1px;
            position: absolute;
            top: 4px;
            left: 21px;
            @include borderRadius(50%);
        }
        @extend %transitionExt;
        .enter-btn:hover .avatar-place {
            background: #fff
        }
        .enter-btn-txt {
            z-index: 10;
            @extend %relat;
        }
        .empty-avatar {
            display: block;
            width: 20px;
            height: 26px;
            @extend %center;
            background: url(../../img/worker.png)
        }
    }
    .h-z-index {
        @extend %relat;
        z-index: 100;
    }
}

.gray-line {
    width: 100%;
    height: 2px;
    background: #edefec;
    display: block;
    @extend %relat;
    @extend %cb;
}

.login-drop-down-top,
.login-drop-down-bottom {
    // opacity: 0.5
}

.login-drop-down {
    position: absolute;
    top: -12px;
    left: -117px;
    width: 257px;
    height: 270px;
    z-index: 1;
    &-top {
        width: 136px;
        height: 65px;
        @include borderRadius(6px 6px 0 0);
        border-top: solid #dee1dd 1px;
        border-left: solid #dee1dd 1px;
        border-right: solid #dee1dd 1px;
        background: #edefec;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
    &-bottom {
        @include borderRadius(6px 0 6px 6px);
        border: solid #dee1dd 1px;
        background: #edefec;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 257px;
        height: 206px;
        &-pad {
            padding: 21px;
        }
    }
}

.inp-row {
    &,
    &-pad {
        @extend %cb;
    }
    &-pad {
        padding-bottom: 19px
    }
    .default-inp-bg {
        display: block;
        clear: both;
        border: solid #a8aaad 1px;
        width: 100%;
        height: 38px;
        @extend %relat;
        @extend %transitionExt;
        &-border {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: #ffffff;
            border-top: solid #f3f2f1 3px;
            border-left: solid #f3f2f1 3px;
            text-align: left
        }
    }
    .def-inp {
        background: transparent;
        font-size: 14px;
        color: #a8aaad;
        font-size: 14px;
        @extend %semilight;
        padding: 5px;
        display: block;
        width: 98%
    }
}

.login-form-two-col {
    &,
    &-left,
    &-right {
        @include hHack(42px);
    }
    &,
    &-left-pad,
    &-right-pad {
        @extend %cb;
    }
    &-left-pad {
        text-align: left;
        padding: 2px 0 0 2px;
    }
    &-right-pad {
        text-align: right;
    }
    & {
        width: 100%;
    }
    &-left,
    &-right {
        float: left
    }
    &-left {
        width: 108px;
    }
    &-right {
        width: 105px;
    }
}

.login-drop-down {
    display: none;
    @include opacity(0);
}

.forgot-pass-link {
    text-decoration: none;
    font-size: 14px;
    color: #797979;
    @extend %semilight;
    @extend %transitionExt;
    &:hover {
        color: #ee9206;
    }
}

.login-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 11px 9px;
    @extend %semibold-regular;
    @extend %transitionExt2;
    @extend %relat;
    @extend %orangeBtnAction;
    @include borderRadius(6px);
}

.header-fix-left-pad,
.header-fix-center,
.header-fix-right,
.header-fix-left,
.header-fix-left-pad,
.header-logo,
.header-fix-center-pad,
.header-fix-right-pad,
.header-fix-center-pad {
    @extend %transitionExt;
}

.main-content {
    &,
    &-pad,
    &-title-cell,
    &-title,
    &-txt {
        @extend %cb;
    }
    &-title-cell {
        padding: 6px 0 8px 0;
    }
    &-pad {
        padding: $mainInnerPadding;
    }
    &-title {
        color: $mainTitleColor;
        font-size: $mainTitleFontSize;
        @extend %semibold-regular;
        text-align: left;
    }
    &-top-spacre {
        @include hHack(66px);
    }
}

.decoration-line {
    &,
    &-fill {
        @include hHack(3px);
        @extend %cb;
    }
    & {
        background: $lineColor;
        width: 100%;
    }
    &-fill {
        background: $lineColorFillType1;
        width: 50%;
    }
}

.tab-cell-list-item-link {
    position: relative;
    top: 0;
    left: 0;
}

.person-icon {
    display: block;
}

.company-icon {
    display: block;
}

.device-icon {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    display: none;
    & img {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -3px;
    }
}

.desctop-icon {
    display: block
}

.tab-cell {
    & {
        z-index: 10;
    }
    &,
    &-pad,
    &-list {
        @extend %cb;
        text-align: left;
    }
    &-list,
    &-list-item {
        list-style: none;
        font-size: 0;
    }
    &-pad {
        padding-top: 29px;
    }
    &-list-item {
        & {
            padding-right: 5px
        }
        &,
        &-link {
            display: inline-block
        }
        &-link {
            @extend %transitionExt;
            text-decoration: none;
            font-size: $tabTextFontSize;
            color: $tabTextColor;
            @extend %semibold-regular;
            text-transform: uppercase;
            background: $tabBg;
            border-top: solid $tabBg 1px;
            border-left: solid $tabBg 1px;
            border-right: solid $tabBg 1px;
            @include borderRadius(6px 6px 0 0);
            padding: 10px 31px 11px 31px;
            text-align: center;
        }
        &.current a {
            // padding: 10px 31px 17px 31px;
            background: $tabBgCurrent;
            border-top: solid $tabBorderCurrent 1px;
            border-left: solid $tabBorderCurrent 1px;
            border-right: solid $tabBorderCurrent 1px;
            margin-top: 0px;
        }
    }
}

.tab-content-cell {
    background: #fafcfd;
    border: solid $tabBorderCurrent 1px;
    z-index: 2;
    top: -1px;
    //    overflow:hidden;
    @include borderRadius(0 6px 6px 6px);
    &,
    &-list,
    &-list-item {
        @include hHack($tabContentHeight);
        width: 100%;
        @extend %relat;
        @extend %cb;
    }
    &-list,
    &-list-item {
        list-style: none;
        font-size: 0;
    }
}

.form-element-two-column {
    @extend %cb;
    width: 100%;
    &,
    &-left,
    &-right {
        @include hHack($tabContentHeight);
        @extend %relat;
    }
    &-left {
        width: 100%;
        float: left;
        @include borderRadius(6px 0 0 6px);
        &-pad {
            padding-right: $stepWidth;
        }
    }
    &-right {
        width: $stepWidth;
        float: left;
        margin-right: -100%;
        background: #f1f8ee;
        margin-left: -$stepWidth;
        z-index: 10;
        @include borderRadius(0 6px 6px 0);
    }
}

.step-cell {
    @extend %cb;
    &,
    &-round {
        display: block;
        width: 122px;
        height: 122px;
    }
    &-round {
        @include borderRadius(50%);
    }
}

.step-cell {
    @extend %center2;
}

.step-green {
    background: #8ec649;
    -webkit-box-shadow: inset 6px 3px 0.3px 1px rgba(113, 164, 51, 0.74);
    -moz-box-shadow: inset 6px 3px 0.3px 1px rgba(113, 164, 51, 0.74);
    box-shadow: inset 6px 3px 0.3px 1px rgba(113, 164, 51, 0.74);
    .step-numb {
        text-shadow: 2px 2px #7cb339;
        margin-top: -5px;
        margin-left: -3px;
    }
}

.step-orange {
    background: #fab149;
    -webkit-box-shadow: inset 6px 3px 0.3px 1px rgba(244, 149, 6, 1);
    -moz-box-shadow: inset 6px 3px 0.3px 1px rgba(244, 149, 6, 1);
    box-shadow: inset 6px 3px 0.3px 1px rgba(244, 149, 6, 1);
    .step-numb {
        text-shadow: 2px 2px #f49506;
        margin-top: -5px;
        margin-left: 0px;
    }
}

.step-blue {
    background: #00aeee;
    -webkit-box-shadow: inset 6px 3px 0.3px 1px rgba(0, 133, 185, 1);
    -moz-box-shadow: inset 6px 3px 0.3px 1px rgba(0, 133, 185, 1);
    box-shadow: inset 6px 3px 0.3px 1px rgba(0, 133, 185, 1);
    .step-numb {
        text-shadow: 2px 2px #0086b9;
        margin-top: -5px;
        margin-left: 0px;
    }
}

.step-numb {
    display: block;
    font-size: 103.74px;
    color: #ffffff;
    @extend %semibold-regular;
    @extend %center2;
}

.reg-form-two-col {
    &,
    &-left,
    &-right {
        @include hHack($tabContentHeight);
        @extend %relat;
    }
    & {
        width: 100%;
        @extend %cb;
    }
    &-left {
        width: 100%;
        float: left;
        &-pad {
            padding-right: $captchaWidth;
            padding-left: 29px;
        }
        /*        background: aqua;*/
    }
    &-right {
        width: $captchaWidth;
        /*        background: #000;*/
        float: left;
        margin-right: -100%;
        z-index: 10;
        margin-left: -$captchaWidth;
    }
    .top-spacer-in-tab {
        @include hHack(29px);
    }
}

.two-col {
    &,
    &-left,
    &-right {
        @include hHack(297px);
    }
    &-left,
    &-right {
        float: left;
        width: 50%;
    }
    &-left {}
    &-right {}
}

.reg-inp-row {
    @include hHack(90px);
    &,
    &-pad {
        @extend %cb;
    }
    &-pad {
        padding-right: 20px;
    }
}

.error-field .inp-label {
    color: #ff7272 !important;
}

.error-field .default-inp-bg,
.error-field .def-inp-bg {
    border: solid #ff9797 1px !important
}

.disabled-input .def-inp-bg,
.disabled-input .def-inp-bg-border {
    background: #eee
}

.reg-inp-row {
    position: relative;
    top: 0;
    left: 0;
}

.btn-place {
    position: absolute;
    bottom: 0;
    right: -50%
}

.inp-label {
    display: block;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 14px;
    @extend %semibold-regular;
    @extend %transitionExt;
    cursor: pointer;
    text-align: left;
    &:hover {
        color: #000;
    }
    &-pad {
        display: block;
        padding: 20px 0 15px 0;
    }
    .required-fild-symbol {
        color: #eb397f;
    }
}

.inp-focus {
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.25);
}

.def-inp-bg {
    @include hHack(40px);
    @extend %relat;
    @extend %transitionExt;
    border: solid #dedcd7 1px;
    &-border {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #ffffff;
        border-top: solid #f3f2f1 3px;
        border-left: solid #f3f2f1 3px;
        text-align: left
    }
    .def-inp {
        display: block;
        width: 98%;
        height: 35px;
        padding: 1px 10px 5px 10px;
        font-size: 14px;
        background: transparent;
        @extend %semilight;
    }
}

.captcha-image-cell {
    &,
    &-pad {
        @extend %cb;
    }
    &-pad {
        padding: 13px 0 29px 0;
    }
    @include hHack(91px);
}

.orange-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 11px 15px 13px 15px;
    @include borderRadius(4px);
    @extend %semibold-regular;
    @extend %transitionExt;
    @extend %relat;
    @extend %orangeBtnAction;
}

.fix-btn-size {
    width: 150px;
    top: -1px;
    text-align: center;
}

.green-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 11px 15px 13px 15px;
    @include borderRadius(4px);
    @extend %semibold-regular;
    @extend %transitionExt;
    @extend %relat;
    @extend %greenBtnAction;
}

.x-spacer {
    @include hHack(48px);
}

.form-element-two-column-right,
.form-element-two-column-left-pad,
.step-numb,
.step-cell-round,
.step-cell {
    @extend %transitionExt;
}

.persona-pages {
    & {
        @extend %cb;
    }
    &,
    &-left,
    &-right,
    &-center {
        @include hHack(343px);
        @extend %relat;
    }
    &-center {
        width: 100%;
        float: left;
        z-index: 10;
        margin-right: -100%;
        margin-left: -250px;
        &-pad {
            @extend %cb;
            padding-top: 45px;
            padding-left: 250px;
            padding-right: 190px;
        }
    }
    &-left {
        // background: red;
        width: 250px;
        float: left;
        z-index: 11;
        &-pad {
            @extend %cb;
            padding-top: 35px;
        }
    }
    &-right {
        // background: black;
        width: 191px;
        float: right;
        z-index: 12;
        &-pad {
            @extend %cb;
            padding-top: 35px;
        }
    }
}

.account-info-data {
    &,
    &-list,
    &-list-item {
        @extend %cb;
    }
    &-list,
    &-list-item {
        list-style: none;
        font-size: 0;
    }
    &-list-item {
        @extend %transitionExt;
        &,
        &-left,
        &-right {
            // @include hHack(37.6px)
        }
        &-left-pad {
            padding-bottom: 17px;
        }
        &-right-pad {
            padding-bottom: 17px;
        }
    }
    &-list-item-left {
        width: $accountListLeftWidth;
        float: left;
        @extend %relat;
        z-index: 15;
    }
    &-list-item-right {
        width: 100%;
        float: left;
        @extend %relat;
        z-index: 10;
        margin-right: -100%;
        margin-left: -$accountListLeftWidth;
        &-pad {
            padding-left: $accountListLeftWidth;
        }
    }
    .account-info-title,
    .account-info-title-txt,
    .account-info-descr,
    .account-info-descr-txt {
        @extend %cb;
        text-align: left
    }
    .account-info-title {
        color: #00aded;
        font-size: 14px;
        @extend %semilight;
        text-decoration: none;
        line-height: 17px;
    }
    .account-info-descr {
        & strong {
            @extend %semibold-regular;
            font-weight: 400
        }
        color: #6d6d6d;
        font-size: 14px;
        @extend %semilight;
        text-decoration: none;
        line-height:17px;
    }
}

.warning-info {
    width: 191px;
    @extend %cb;
    @include hHack(82px);
    @extend %relat;
    @include borderRadius(6px);
    &-pad {
        padding: 16px 13px 21px 72px;
    }
    .warning-info-txt {
        color: #656565;
        font-size: 18px;
        line-height: 21.6px;
        @extend %semibold-regular;
        display: block;
        text-align: left;
    }
}

.no-valid {
    border: solid #f69dc0 1px
}

.no-valid-symbol {
    display: block;
    width: 38px;
    height: 38px;
    @include borderRadius(50%);
    background: #ed397f;
    position: absolute;
    top: 21px;
    left: 12px;
    &-char {
        color: #fff;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        clear: both;
        display: block;
        @extend %relat;
        &-pad {
            display: block;
            padding-top: 10px
        }
    }
}

.account-info-descr-txt .edit-link {
    margin-left: 40px
}

.avater-place {
    display: block;
    width: 190px;
    height: 177px;
    margin: 0 auto;
    border: solid #dedcd7 1px;
    &,
    &-pad {
        @extend %cb
    }
    &-pad {
        display: block;
        padding: 9px;
    }
    .avater-img-crop {
        display: block;
        overflow: hidden;
        width: 170px;
        height: 157px;
        background: url(../../img/avatar-silhouette.svg) no-repeat center bottom #e6eaee;
    }
    .avatar-persona-page-image {
        display: block;
        width: 100%;
        height: auto!important;
    }
}

.account-info-data-list-item-left,
.account-info-data-list-item-right,
.account-info-data-list-item-right-pad,
.account-info-data-list-item-left-pad,
.persona-pages-right,
.persona-pages-left,
.persona-pages-right-pad,
.persona-pages-center,
.persona-pages-right,
.persona-pages,
.persona-pages-left,
.persona-pages-right,
.persona-pages-center,
.persona-pages-center-pad,
.account-info-descr-txt .edit-link,
.persona-pages-left-pad .edit-cell,
.account-info-data-list-item-left,
.account-info-descr-txt .edit-link,
.persona-pages-left,
.persona-pages-center-pad,
.persona-pages-right-pad {
    @extend %transitionExt;
}

.edit-cell {
    @extend %cb;
    padding-top: 18px;
    padding-left: 61px;
    text-align: left;
}

.edit-link {
    @extend %semibold-regular;
    @extend %relat;
    @extend %transitionExt;
    text-decoration: none;
    display: inline-block;
    color: #6d6d6d;
    font-size: 13px;
    &:hover {
        color: #8ec649;
    }
}

.edit-link-icon {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -7px;
    left: -30px;
    background: url(../../img/edit.png) no-repeat center top
}

.reg-form-two-col-left {
    /*    background: url(../../img/step-3.jpg);*/
}

.step-3-two-col {
    &,
    &-left,
    &-right {
        @include hHack(296px);
    }
    & {
        @extend %cb;
    }
    &-left {
        width: 229px;
        float: left;
    }
    &-right {
        width: 100%;
        margin-right: -100%;
    }
}

.msg-txt {
    color: #00aeee;
    font-size: 23px;
    text-decoration: none;
    @extend %semibold-regular;
    display: block;
    text-align: left;
    letter-spacing: -0.2px;
    padding-top: 107px;
}

.custom-profile-link {
    color: #6a9a30;
    font-size: 16px;
    text-transform: uppercase;
    border: solid #6b9a31 2px;
    @include borderRadius(6px);
    padding: 15px 54px 15px 17px;
    text-decoration: none;
    @extend %relat;
    @extend %transitionExt;
    @extend %semibold-regular;
    display: inline-block;
    left: -52px;
    &-txt {
        @extend %relat;
        top: -3px;
        @extend %transitionExt;
    }
    &:hover {
        background: #6b9a31;
        color: #fff;
    }
    & .arrow-next span {
        @extend %transitionExt;
    }
    &:hover .arrow-next span {
        color: #fff;
    }
}

.z-top-spacer {
    min-height: 42px;
    height: auto!important;
    height: 42px;
}

.arrow-next {
    display: block;
    width: 13px;
    height: 23px;
    font-size: 20px;
    color: #588028;
    position: absolute;
    top: 3px;
    right: -27px;
}

.advt-add {
    @include hHack(315px);
    /*    background: url(../../img/trafaret-2.jpg) no-repeat center top;*/
    &-title {
        color: #656565;
        font-size: 19px;
        @extend %semilight;
        letter-spacing: -0.2px;
        position: relative;
        top: -1px;
        left: 0;
        & {
            border-bottom: solid #dee1dd 1px;
        }
        &-txt {
            padding-bottom: 20px;
        }
        &,
        &-txt {
            @extend %cb;
            text-align: left;
            display: block;
        }
    }
}

.activation-block {
    &,
    &-pad {
        @extend %cb;
        text-align: left;
    }
    &-pad {
        padding-left: 30px;
        padding-top: 22px;
        color: #656565;
        font-size: 14px;
        @extend %semilight;
        letter-spacing: 0.2px;
    }
}

.dark-txt {
    color: #000
}

.fixs {
    max-width: 320px;
    padding-top: 20px;
}

.fixs .btn-place {
    right: -37%
}

.fixs .fix-btn-size {
    width: 119px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.txt-ex {
    color: #656565;
    font-size: 12px;
    padding-top: 8px;
}

@media only screen and (max-width:1200px) {
    .account-info-descr-txt .edit-link {
        margin-top: 20px;
        margin-left: 33px
    }
    .persona-pages-left {
        width: 200px
    }
    .persona-pages-center-pad {
        padding-left: 280px;
    }
}

@media only screen and (max-width:1143px) {
    .step-3-two-col-left,
    .step-3-two-col-right {
        float: none;
        clear: both;
        margin: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .msg-txt {
        padding-top: 0;
        display: block;
        text-align: center;
        width: auto;
        padding: 0 20px;
    }
    .custom-profile-link {
        left: 0;
    }
}

@media only screen and (max-width:1154px) {
    .lang-cell-out-pad {
        padding: 20px 0 0 0
    }
    .lang-cell-out-pad,
    .lang-cell {
        text-align: center;
    }
    .header-fix-center,
    .header-fix-right,
    .header-fix-left {
        clear: both;
        width: auto;
        margin: 0;
        float: none;
        @include hHack(10px);
    }
    .header-fix-left-pad {
        padding: 20px 0 0 0
    }
    .header-logo {
        margin: 0 auto
    }
    .header-fix-center-pad,
    .header-fix-right-pad {
        padding-top: 0px
    }
    .login-drop-down {
        // right: -22px
    }
    .header-fix-center-pad {
        padding: 0 15px;
    }
    .gray-line {
        display: none
    }
    .login-cell .enter-btn {
        padding-right: 0
    }
    .login-cell-out-pad {
        text-align: center
    }
    .footer-triple-cell {
        &-center,
        &-left,
        &-right {
            text-align: center;
        }
        &-center {
            &-pad {
                padding: 32px 10px 30px 10px;
            }
        }
        &-left {
            margin: 0;
            float: none;
            clear: both;
            left: 0;
            width: auto;
        }
        &-right {
            margin: 0;
            float: none;
            clear: both;
            left: 0;
            width: auto;
        }
    }
    .footer-triple-cell-left-pad,
    .footer-triple-cell-right-pad {
        text-align: center
    }
    .footer-logo {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    .enter-btn-txt {
        padding-left: 68px!important;
        display: inline-block
    }
    .login-cell-out-pad {
        padding-right: 0
    }
    .login-cell {
        text-align: center
    }
}

@media only screen and (max-width:1124px) {
    .btn-place {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding-top: 10px;
        text-align: left;
    }
}

@media only screen and (max-width:1024px) {
    .persona-pages-center {
        float: none;
        clear: both;
        margin: 0;
        left: 0;
        top: 0;
    }
    .persona-pages-right {
        float: left;
    }
    .persona-pages,
    .persona-pages-left,
    .persona-pages-right,
    .persona-pages-center {
        @include hHack(auto);
    }
    .persona-pages-center-pad {
        padding: 20px 0
    }
    .account-info-descr-txt .edit-link {
        margin-top: 0;
        margin-left: 40px
    }
    .persona-pages-left-pad .edit-cell {
        padding-left: 31px
    }
    .account-info-data-list-item-left {
        width: 239px
    }
    .persona-pages-right-pad {
        padding-left: 43px
    }
}

@media only screen and (max-width:1100px) {
    .two-col-left,
    .two-col-right {
        clear: both;
        float: none;
        width: 100%
    }
    .reg-form-two-col-right {
        float: none;
        margin: 0;
        width: 100%;
        clear: both
    }
    .reg-form-two-col-left-pad {
        padding-right: 0
    }
    .reg-form-two-col-right-pad {
        padding-left: 30px
    }
    .two-col,
    .two-col-left,
    .two-col-right {
        min-height: auto!important;
        height: auto!important
    }
    .form-element-two-column,
    .form-element-two-column-left,
    .form-element-two-column-right {
        @include hHack(100%);
    }
    .form-element-two-column-right {
        background: transparent
    }
    .step-cell {
        position: relative;
        margin: 20px auto;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -icab-transform: translate(0, 0);
        -khtml-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media only screen and (max-width:790px) {
    .form-element-two-column-right {
        width: 216px
    }
    .form-element-two-column-left-pad {
        padding-right: 10px
    }
    .step-numb {
        font-size: 23.74px;
        left: 57%;
        top: 57%
    }
    .step-cell {
        &,
        &-round {
            display: block;
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width:818px) {
    .account-info-data-list-item-left,
    .account-info-data-list-item-right {
        clear: both;
        float: none;
        width: 100%;
        margin: 0
    }
    .account-info-data-list-item-right-pad {
        padding-left: 0;
        padding: 5px 0 10px 0
    }
    .account-info-data-list-item-left-pad {
        padding-left: 0;
        padding: 5px 0 0 0
    }
}

@media only screen and (max-width:660px) {
    .main-content-pad {
        padding: $mainPaddingResize;
    }
    .main-content-pad {
        padding: $mainPaddingResize;
    }
    .main-fix-carcass-out-pad {
        padding: $mainPaddingResize;
    }
    .footer-fix-pad {
        padding: $mainInnerPaddingResize;
    }
}

@media only screen and (max-width:517px) {
    .persona-pages-right,
    .persona-pages-left {
        float: none;
        margin: 0;
        left: 0;
        clear: both
    }
    .persona-pages-right-pad {
        padding-left: 0
    }
}

@media only screen and (max-width:490px) {
    .device-icon {
        display: block
    }
    .desctop-icon {
        display: none;
    }
}

@media only screen and (max-width:463px) {
    .login-drop-down {
        // right: 143px;
        //top: 11px;
    }
    .footer-menu-list-item {
        display: block;
        padding-bottom: 10px;
    }
    .footer-menu-list-item:after {
        display: none
    }
    .main-nav-menu-list,
    .main-nav-menu-list-item {
        display: block;
    }
    .main-nav-menu-list-item {
        padding: 5px 0
    }
    .login-cell-list,
    .login-cell-list-item {
        display: block;
    }
    .login-cell-list-item {}
    .login-cell-list-item.js-drop-down-selector {
        padding-top: 20px
    }
    .enter-btn {
        left: -15px!important
    }
}

@media only screen and (max-width:385px) {
    .login-drop-down-bottom {
        right: -61px;
        @include borderRadius(6px);
    }
}

@media only screen and (max-width:360px) {
    .fb {
        display: block;
        padding-bottom: 20px
    }
}

@media only screen and (max-width:309px) {
    .main-fix-carcass {
        overflow-x: hidden;
    }
    .main-content-pad {
        padding: $mainInnerPaddingLastResize;
    }
    .footer-fix-pad {
        padding: $mainInnerPaddingLastResize;
    }
    .main-fix-carcass-out-pad {
        padding: $mainPaddingLastResize;
    }
    .social-icon-list-item-pad {
        padding-left: 7.3px;
        padding-right: 7.3px;
    }
}
